venv/
# Environment files
.env
.env.local
.env.*.local

# Python virtual environments
env/
.venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

test*
reports/
